<extend name="public:frameset1"/>
<block name="style">
    <link href="__PUBLIC__/assets/global/styles/category/detail.css" rel="stylesheet" type="text/css">
</block>

<block name="main">
    <div class="container main">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="right-side">
                    <div class="localtion">
                        <span>当前位置:</span>
                        <a href="{:U('Index/index')}">首页</a>>>
                        <if condition="$navTop['categoryFatherName']['id'] eq 1">
                        	<a href="{:U('Index/index')}">
						<else />
                        	<a href="{:U('Index/categoryd',array('category_id'=>$navTop['categoryFatherName']['id'],'flag'=>$navTop['categoryFatherName']['flag']))}">
                    	</if>
                        	{$navTop['categoryFatherName']['name']}
                        </a>>>
                        <a href="{:U('Index/categoryd',array('category_id'=>$navTop['categoryName']['id'],'flag'=>$navTop['categoryName']['flag']))}">{$navTop['categoryName']['name']}</a>
                    </div>
                    <div class="content">
                            <div class="con-title">{$data['current'].title}</div>
                            <div class="con-content">
                                <div class="time">
									<span>发布时间： <em> {$data['current'].update_time|date='Y-m-d',###}</em>
									</span>
			                    </div>
                                <div class="main-content">
                                    {$data['current'].content}
                                </div>
			                </div>
                    </div>
                    <div class="page">
                    	<if condition="$data['last']">
	                        <span style="margin-right:35px">上一篇:
	                        	<a href="{:U('index/articledetail',array('id'=>$data['last']['id'],'category_id'=>$data['last']['category_id']))}">{$data['last']['title']|mb_substr=0,35,'utf-8'}</a>
	                        </span>
	                    </if>
                    	<if condition="$data['next']">
	                        <span>下一篇:
	                        	<a href="{:U('index/articledetail',array('id'=>$data['next']['id'],'category_id'=>$data['next']['category_id']))}">
	                        {$data['next']['title']|mb_substr=0,35,'utf-8'}</a>
	                        </span>
	                    </if>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="left-side">
                    <ul class="list-container" style="margin-bottom: 50px;">
						<div>最近文章</div>
	                    <volist name="articleTitle" id="p">
	                        <a href="{:U('index/articledetail',array('id'=>$p['id'],'category_id'=>$p['category_id']))}"">
	                        <li>
		                        {$p['title']|mb_substr=###,0,8,'utf-8'}
								<if condition="mb_strlen($p['title'],'utf-8') egt 8">
								......
								</if>
							</li>
							</a>
	                    </volist>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>