<extend name="public:frameset1"/>
<block name="style">
    <link href="__PUBLIC__/assets/global/styles/order/order.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/assets/global/plugins/jquery.min.js"></script>
   <style>
     .payattention{
      color: red;
      font-size: 1.2em;
      margin-right: 3px;
     }
     @media screen and (max-width: 960px) {
      .container{
        width:100%;
        padding:0;
        margin: 0;
      }
      .col-md-12{
        width:100%;
        padding:0;
        margin: 0;
      }
      .orderrow{
        width: 100%;
        margin: 0 auto;
      }
     }
     @media screen and (min-width: 960px) {
      .row-order{
        width: 80%;
        margin: auto;
        padding: auto;
      }
      .orderrow{
        width: 80%;
        margin: 0 auto;
      }
     }
     }
   </style>
</block>

<block name="main">
    <div class="containers" >
	<div class="row" style="margin: 0;padding: 0">
		<div class="col-md-12" style="margin: 0;padding: 0">
			<div  class="index-center">
				<div class="index-center-img"><img src="__PUBLIC__/assets/global/img/category/nav.jpg" alt="" style="width: 100%;height: 100%;"></div>
				
			</div>
		</div>
	</div>
	
	

</div>		
	
	<div class="container">
		<div class="row orderrow">
			<div class="col-md-12">

				<div class="container-botton">

<div class="container-totton-con">


			<div class="bottontitle"><span class="bottontitle-span1">网上预约快递</span><span class="bottontitle-span2"><span style="color: red">*为必填信息！</span>为方便快递员取货，请提供您真实有效的信息，并在登陆后下单。<span></div>
			<form class="form-horizontal" method="post" action="{:U('index/order')}">
			<div class="group">
			<div class="group-title">寄件人信息</div>
  <div class="form-group">
    <label for="name1" class="col-sm-2 control-label"><span class="payattention">*</span>姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name1" placeholder="姓名" name="sender" value="{$userinfo['truename']}">
    </div>
  </div>
  <div class="form-group">
    <label for="tel1" class="col-sm-2 control-label"><span class="payattention">*</span>手机/固话</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="tel1" placeholder="手机号/固话号" name="senderphone" value="{$userinfo['phone']}">
    </div>
  </div>
  <div class="form-group">
    <label for="unit1" class="col-sm-2 control-label">寄件单位</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="unit1" placeholder="寄件单位" name="junit">
    </div>
  </div>
   <div class="form-group">
    <label for="remark1" class="col-sm-2 control-label">取件方式备注</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="remark1" placeholder="取件方式有上门取件，自提等" name="remark1">
    </div>
  </div>
      <div class="form-group">
    <label for="remark3" class="col-sm-2 control-label"><span class="payattention">*</span>网点</label>
    <div class="col-sm-10">
      <select class="form-control" name="wangdian">
     <volist name="wangdian" id="wang">
      <option value="{$wang['id']}">{$wang['area_name']}</option>
      </volist>
</select>
    </div>
  </div>

<empty name="addr">
  <div class="form-group">
    <label for="addr" class="col-sm-2 control-label"><span class="payattention">*</span>上门地址</label>
    <div class="col-sm-10">
      <select id="s_province" name="s_province" class="control-label"></select> 
    <select id="s_city" name="s_city" class="control-label"></select> 
    </div>
  </div>
   <div class="form-group">
    <label for="addr1" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="addr1" name="recipients" placeholder="请输入详细上门地址">
    </div>
  </div>
<else />

  <div class="form-group" style="display: none;" id="addrglup">
    <label for="addr" class="col-sm-2 control-label"><span class="payattention">*</span>上门地址</label>
    <div class="col-sm-10">
      <select id="s_province" name="s_province" class="control-label"></select> 
    <select id="s_city" name="s_city" class="control-label"></select> 
    </div>
  </div>
   <div class="form-group">
    <label for="addr3" class="col-sm-2 control-label" id="addrtitle">默认收货地址</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="addr3" name="recipients2" placeholder="" value="{$addr['addr']}" style="width: 75%;margin-right: 3%;float: left;">
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" id="changeaddr" style="width: 22%;height: 70%;font-size: 1em;padding: 7px;">
 更换地址
</button>


    </div>
  </div>
</empty>

</div>

<div class="group">
			<div class="group-title">收件人信息</div>
  <div class="form-group">
    <label for="name2" class="col-sm-2 control-label"><span class="payattention">*</span>姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name2" name="receivename" placeholder="姓名">
    </div>
  </div>
  <div class="form-group">
    <label for="tel2" class="col-sm-2 control-label"><span class="payattention">*</span>手机/固话</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="tel2" placeholder="手机号/固话号" name="receivephone">
    </div>
  </div>
  <div class="form-group">
    <label for="unit2" class="col-sm-2 control-label">收件单位</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="unit2" placeholder="收件单位" name="cunit">
    </div>
  </div>
  <div class="form-group">
    <label for="addrs" class="col-sm-2 control-label"><span class="payattention">*</span>收件地址</label>
    <div class="col-sm-10">
      <select id="c_province" name="c_province" class="control-label"></select> 
  <select id="c_city" name="c_city" class="control-label"></select> 

    </div>
  </div>
  <div class="form-group">
    <label for="addr2" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="addr2" name="sendaddr" placeholder="请输入详细收货地址" style="width: 65%;margin-right: 3%;float: left;"><button type="button" class="btn btn-primary btn-lg" id="sendaddr" style="width: 30%;height: 70%;margin-left: 1%;font-size: 1em;padding: 7px;">
            一键识别地址
        </button>
    </div>
  </div>
   
</div>

<div class="group">
			<div class="group-title">快递信息</div>
  <div class="form-group">
    <label  class="col-sm-2 control-label"><span class="payattention">*</span>快递公司</label>
    <div class="col-sm-10">
     <select class="form-control" name="expressname">
     <volist name="expressname" id="express">
		  <option value="{$express['id']}">{$express['name']}</option>
		  </volist>
</select>
    </div>
  </div>

 <div class="form-group">
    <label for="weight" class="col-sm-2 control-label">预计重量（kg）</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" placeholder="预计重量（kg）" id="weight" name="weight">
    </div>
  </div>
   <div class="form-group">
    <label for="option3" class="col-sm-2 control-label"><span class="payattention">*</span>取件备注</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="易碎品、液体、贵重物品请特殊说明" id="option3" name="remark2">
    </div>
  </div>
   
</div>


  <div class="form-group">
    <div > 
    <center>
  <if condition="isset($_SESSION['id'])">  <input type="submit" class="btn btn-primary" value="立即下单" name="submit" id="submit"> <else />
  <input type="submit" class="btn btn-primary" value="立即下单" name="submit" id="submit" >
  </if>
    <script type="text/javascript">
    var strSession = "<?php echo $_SESSION['name']; ?>".toString(); 
    var shiming = "<?php echo $shiming['is_identification']; ?>".toString(); 
          if(strSession==''){
            alert('请先登录！');
            var url="<?php $url=U('index/login');echo $url ?>".toString();
            window.location.href=url;  
        }
         if(shiming=='0'){
            alert('请先前往个人中心完成实名认证后即可登陆！');
            var url="<?php $url=U('index/userinfo');echo $url ?>".toString();
            window.location.href=url;  
        }
      $('#changeaddr').click(function(){
        $("#addrglup").css("display","block");
        $("#addr3").val('');
        $("#addr3").html('');
        $("#addr3").attr('name','recipients3');
        $("#addrtitle").html(''); 
        
   
      });
    $('#sendaddr').click(function(){
        var url="<?php $url=U('index/intelResolution'); echo $url; ?>".toString();
        var ddd = $('#addr2').val();

        $.ajax({
            type:"post",
            url:url,
            data:{data:ddd},
            success:function(datas){

                $('#c_province').find("option:selected").text(datas[0]);
                $('#c_city').find("option:selected").text(datas[1]);
                $('#addr2').val(datas[2]);
            }
        });
    });

    </script>
      </center>
    </div>
  </div>
</form>
</div>

</div>

</div>
		</div>
	</div>
	
	




</block>
<block name="script">
	<script type="text/javascript" src="__PUBLIC__/assets/global/scripts/order.js"></script>
  <script type="text/javascript" src="__PUBLIC__/assets/global/scripts/addr.js"></script>
  <script type="text/javascript">
    
  </script>
</block>