<extend name="public:frameset1"/>
<block name="style">
    <link href="__PUBLIC__/assets/global/styles/order/order.css" rel="stylesheet" type="text/css">
   
   <style type="text/css">
   .bottontable table{
   	width: 80%;
   	margin: 0 auto;
   }
   	.bottontable table tr td:first-child{
   		width: 40%;
   	}
   </style>
</block>

<block name="main">
    <div class="containers" style="margin: 0;padding: 0">
	<div class="row" style="margin: 0;padding: 0">
		<div class="col-md-12" style="margin: 0;padding: 0">
			<div  class="index-center">
				<div class="index-center-img"><img src="__PUBLIC__/assets/global/img/category/nav.jpg" alt="" style="width: 100%;height: 100%;"></div>
				
			</div>
		</div>
	</div>
	
	

</div>		
	
	<div class="container">
		<div class="row" style="width: 70%;margin: 0 auto;">
			<div class="col-md-12">

				<div class="container-botton">

<div class="container-totton-con">
	<div class="bottontitle">
		<span class="bottontitle-span1">选择支付方式</span>
		<span class="bottontitle-span2">确认订单并选择支付方式<span>
	</div>
	<div class="bottontable" style="width: 95%;margin: 0 auto;">
		<form action="{:U('index/cz')}" method="post">
			<table class="table" >
				<tr>
					<td>快递单号：</td>
					<td><input type="hidden" name="courier_number" value="{$info['courier_number']}">{$info['courier_number']}</td>
				</tr>
				<tr>
					<td>收件人姓名：</td>
					<td>{$info['sender']}</td>
				</tr>
				<tr>
					<td>收件人手机号：</td>
					<td>{$info['sender_phone']}</td>
				</tr>
				<tr>
					<td>收件人地址：</td>
					<td>{$info['sender_address']}</td>
				</tr>
				<tr>
					<td>寄件人姓名：</td>
					<td>{$info['receiver']}</td>
				</tr>
				<tr>
					<td>寄件人手机号：</td>
					<td>{$info['receiving_phone']}</td>
				</tr>
				<tr>
					<td>寄件人地址</td>
					<td>{$info['receiving_address']}</td>
				</tr>
			</table>

			<div class="formglup">
				
					<table class="table">
						<tr>
							<td>确认支付金额：</td>
							<td><span style="color: red;font-weight: 800;">{$info['need_payment']}</span>
							<input type="hidden" value="{$info['need_payment']}" name="my"></td>
						</tr>
						<tr>
							<td>支付方式：</td>
							<td>
							<input type="radio" name="tid" value="1" checked="checked">支付宝
							<input type="radio" name="tid" value="2">微信
							<input type="radio" name="tid" value="3">现金支付
							</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align: center;"><input type="submit" value="立即支付" class="btn btn-primary"></td>
						</tr>
					</table>

				</form>
			</div>


	</div>	
		

</div>

</div>
</div>
</div>


</block>
<block name="script">
	
</block>