<extend name="public:frameset1"/>
<block name="style">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/global/styles/tongcheng/tongcheng.css"/>
</block>

<block name="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="padding: 0;">
				<div class="centerimgbox">
					<div class="centerimg"><img class="img-responsive" src="__PUBLIC__/assets/global/img/bg/loginbg.jpg" "></div>
					<div class="center_container">
						<h1>同城速递1小时到达，300万配送员为您服务</h1>
						<h3>帮取件，代送件，随时下单，立刻上门</h3>
						<a href="{:U('index/citysend')}"><button type="button" class="btn btn-info btn-lg">立即下单</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>


</block>


<block name="script">
	


</block>