@charset "UTF-8";
.good-course{
    padding-top: 30px;
    margin-top: 20px;
}

.no-record{
    margin-left: 50px;
}
.headline{
    margin-top: -20px;
}
.headline h3{
    display: inline-block;
    background-color: #a12e2f;
    color: #fff;
    padding: 10px;
}
.headline ol{
    position: relative;
}

.triangle-lg{
    position: relative;
    left: 18px;
    top: 16px;
    font-size: 49px;
    color: #a12e2f;
}
.triangle-lg2{
    position: relative;
    left: -18px;
    top: 16px;
    font-size: 49px;
    color: #a12e2f;
}
.side{
    margin-top: 30px;
}
.side li{
    background-color: #43CCDE;
    border-radius: 4px;
}
.disabled{
    font-size: 16px;
    border-radius: 0!important;
 }
.disabled a{
    color: #fff!important;
    font-weight: bold;
}
.disabled a:before{
    content: '>';
    font-size: 20px;
    font-weight: bolder;
    color:#fff;
}
.top14{
    margin-top: 36px;
}
hr{
    margin-top: 0;
}
.bottom30{
	margin-bottom: 30px;
}
.class-color {
    background: #fbfbfb;
    height: 230px;
    margin-bottom: 30px;
    width: 92.3%;
}
.level{
    margin-bottom: 20px;
}
.level b{
    font-size: 20px;
}
.level b:before{
    content: '|  ';
    font-weight: bold;
    font-size: 28px;
    color: #a12e2f;
}
.intro{
    margin-top: 6px;
}
.class-color p{
    margin-top: 4px;
    font-size: 14px;
}
.thumbnail {
    border-radius: 0;
}
span span a{
	color: #6CA6CD;
}
span a:hover{
	color: #D3D3D3;
}
p a{
	color: #6CA6CD;
}
p a:hover{
	color: #D3D3D3;
}


article {
	margin-top: 50px;
}
.headline > .pull-right {
	margin-right: 32%;
}
.c-side {
	margin-top: 120px;
}